@model IEnumerable<ListarGrupoAutomoveisViewModel>

@{
	ViewBag.Title = "Listagem de Grupos de Automóveis";
	MensagemViewModel? mensagem = ViewBag.Mensagem ?? null;
}

<div class="col">
    
	<a class="btn btn-primary px-4 mt-3" asp-action="inserir">
		<i class="bi bi-circle-add"></i>
		Inserir um novo Grupo de Automóvel
	</a>

	<div class="row gap-2 my-3 my-xl-5">
		@foreach (var grupoAutomovel in Model)
		{
			<div class="card col-lg-4 col-xl-3 p-4">
				<label class="p-0"><strong>Id:</strong> @grupoAutomovel.Id</label>
				<label class="card-title"><strong>Nome:</strong> @grupoAutomovel.Nome</label>
				<a class="btn btn-secondary btn-sm mb-2 my-3" href="/grupoautomoveis/editar/@grupoAutomovel.Id">Editar</a>
				<a class="btn btn-danger btn-sm mb-2" href="/grupoautomoveis/excluir/@grupoAutomovel.Id">Excluir</a>
			</div>
		}
	</div>
</div>