

@using LocadoraDeAutomoveis.Dominio.ModuloAutomovel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FormularioAutomovelViewModel

@{
    ViewBag.Title = "Inserir Veículo";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3 fs-5" asp-action="Inserir">
            <div>
                <label class="control-label fw-semibold mb-1">Modelo</label>
                <input class="form-control mb-1" asp-for="Modelo" />
                <span class="text-danger fs-6" asp-validation-for="Modelo"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Marca</label>
                <input class="form-control mb-1" asp-for="Marca" />
                <span class="text-danger fs-6" asp-validation-for="Marca"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Tipo de Combustível</label>
                <select class="form-control mb-1" asp-for="TipoCombustivel" asp-items="Html.GetEnumSelectList<TipoCombustivel>()"></select>
                <span class="text-danger fs-6" asp-validation-for="TipoCombustivel"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Capacidade do Tanque</label>
                <input class="form-control mb-1" asp-for="CapacidadeTanque" type="number" />
                <span class="text-danger fs-6" asp-validation-for="CapacidadeTanque"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Grupo de Veículos</label>
                <select class="form-control mb-1" asp-for="GrupoAutomoveisId" asp-items="Model.GruposAutomoveis"></select>
                <span class="text-danger fs-6" asp-validation-for="GrupoAutomoveisId"></span>
            </div>

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-primary px-5" asp-action="Listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>