@model LocadoraDeVeiculos.WebApp.Models.DetalhesPlanoCobrancaViewModel

@{
	ViewBag.Title = "Detalhes do Plano de Cobrança";
}

<div class="col">
	<partial name="_Informacoes" model="Model"></partial>

	<a asp-action="Listar" class="btn btn-outline-primary px-5 mt-5">
		<i class="bi bi-arrow-return-left me-1"></i>
		Voltar
	</a>
</div>