@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center" style="margin-top: 230px">
    <h1>Seja bem vindo!</h1>
    <p>Somos à melhor locadora de automóveis da região! <br /> Como podemos te ajudar hoje?</p>
</div>
