@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>Somos à melhor locadora de automóveis da região! <br /> Como podemos te ajudar hoje?</p>
</div>
