<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Locadora de Automoveis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LocadoraDeAutomoveis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="container">
        <header class="row row-cols-2 align-items-center  my-3">
            <a class="fs-3 fw-semibold text-dark" style="text-decoration: none;"asp-area="" asp-controller="Home" asp-action="Index">Locadora de Automoveis</a>
            <ul class="nav nav-pills d-grid d-md-flex justify-content-md-end">
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="GrupoAutomoveis" asp-action="Listar">Grupo de Automóveis</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="Automovel" asp-action="Listar">Automóveis</a></li> 
                @* <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Planos de Cobrança</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Clientes</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Condutores</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Taxas e Serviços</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Aluguéis</a></li>
                <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Configuração</a></li> *@
                @* <li class="nav-item"><a class="nav-link text-dark px-3" asp-area="" asp-controller="" asp-action="">Funcionário</a></li> *@
            </ul>
        </header>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">        
            @RenderBody()
        </main>
    </div>

    <footer class="border-top mt-auto text-center">
        <p class="my-3">
            &copy; 2024 - Locadora de Automóveis 
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
